@keyframes megaanim{
    from{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        opacity: 1;
    }
    to {
        opacity: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0,0,0,0);
    }
}
#megamain{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 1;
}
.disapearing{
    animation-name: megaanim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#megamain,#quest,.answ{
    background-color: white;
    border-radius: 50px;
}
#meganame{
    font-family: 'Acme', sans-serif;
    font-size: 5em !important;
    text-align: center;
}
div#megadescription{
    font-size: 2rem;
    font-family: 'Comfortaa';
    font-weight: 400;
}
div{
    text-align: center !important;
}
#megaStart{
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 3rem;
    background-color:white;
    border-color: #29B6F7;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    color: rgb(41, 182, 247);
    transition-property: color, background-color;
    transition-duration: 0.5s;
}
#megaStart:hover{
    background-color: rgb(41, 182, 247) !important;
    color: white !important;
}
#quest,.answ{
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0,0,0,0);
    animation-name: megaanim;
    animation-duration: .5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
#quest{
    background-color: #b3e5fc;
}