#megamain{
    background-color: blueviolet;
    border-radius: 50px;
}
#meganame{
    background-color: darkorange;
    font-family: 'Acme', sans-serif;
    font-size: 5em !important;
    text-align: center;
}
div#megadescription{
    font-size: 2rem;
}
div{
    text-align: center !important;
    font-size: 2rem;
}